# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.

SECRET_KEY=secret-key

TRELLO_BOARD_ID=rPXI4pFN

TRELLO_KEY=af31f1bd012004b7adf2a12af3b10234
TRELLO_TOKEN=ATTA301be596e3e1e602b29db3c46285e799ff14631e1b5e3fef04c9eb61c9ba1e2676921B23