{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Open Items</h2>
      <ul class="list-group mb-4">
        {% for item in open_items %}
            <li>
              #{{item['id']}} {{item['status']}} - {{item['title']}}
            </li>
         {% endfor %}
      </ul>

      <h2>Closed Items</h2>
      <ul class="list-group mb-4">
        {% for item in complete_items %}
            <li>
              #{{item['id']}} {{item['status']}} - {{item['title']}}
            </li>
         {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add New Item</h2>
      <form action="/" method="post">
        <div>
          <label for="name">Title: </label>
          <input type="text" name="title" id="title" required>
        </div>
        <div>
          <input type="submit" value="Create task">
        </div>
      </form>      
    </div>
  </div>

{% endblock %}